
* {
  box-sizing: border-box;
}


:root {
    --primary-color: #10b981; /* emerald-500 */
    --primary-hover: #059669; /* emerald-600 */
    --primary-light: #34d399; /* emerald-400 */
    --primary-bg: rgba(16, 185, 129, 0.2); /* emerald-500/20 */

    --color-button-text: #010705;

    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --neutral-950: #0a0a0a;
    --red-500: #ef4444;
    --green-500: #22c55e;
}

html, body {
    height: 100vh;
    margin: 0;
    width: 100vw;
    padding: 0;
    color: white;
    background: #1e1e1e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

#root {
    height: 100%;
}

.containerInfo{
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100vw;
    z-index: 1;
    height: fit-content;
    justify-items:center;
}

.container {
    width: fit-content;
    background-color: #191919;
    align-content: center;
    width: 100vw;
    height: fit-content;
    padding: 40px 0;
    margin-top: 10vh;
    z-index:1;

}

/* Chrome, Edge, Safari, Opera */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Cambia este color */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Opcional */
}

body {
    scrollbar-width: thin; /* Opcional: thin, auto, none */
    scrollbar-color: #059669 #19321fc8; /* thumb | track */
}


.content {
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 90%;
}


    @media only screen and (max-width: 1000px) {
        .content-right {
            display: none !important;
        }

        ::-webkit-scrollbar {
        display: none;
     }

        .content-left {
            margin-left: 0px !important;
            justify-content: center !important;
            align-items: center !important;
            text-align: center !important;
            margin-right: 0px !important;
            padding-left: 0px !important;
        }

        .text-content{
            align-items: center; 
            align-content: center;
            justify-content:  center !important;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .info-badge {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .buttonsInfoEcommerce{
            justify-content: center;
            width: 100%;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            gap: 0px;
            width: 100%;
            max-width: 90%;
        }

        .container{
            display: flex;
            justify-content: center;
        }
    }



.content-left {
    padding-left: 8%;
    align-content: center;
    width: 500px;
    max-width: 90%;
    margin-left:  5%;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content; 
    height: 90%;
    padding: 1rem; 
}

    .content-right svg {
        display: block;
        width: 100%;
        max-width: 400px;
        height: auto;
    }


.info-badge {
    background-color: #16382d;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-radius: 12px;
    outline: var(--primary-color) 1px solid;
    text-align: center;
}

.title {
    margin: 10px 0;
    font-size: clamp(4rem, 5vw, 5rem);
    line-height: 1.1;
    flex-wrap: wrap;
    width: 8lh;
}

.subtitle{
    font-size: 35px;
    margin-bottom:-20px;
}


.descriptionEcommerce {
    margin: 0;
    width: 20lh;
    font-size: 1.5rem;
    width: 700px;
    max-width: 100%;
}

.buttonsInfoEcommerce{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.buttonExplorer {
    background-color: var(--primary-color);
    font-weight: 600;
    color: #16382d;
    width: 12lh;
    font-size: 16px;
}

.buttonTOP {
    width: 12lh;
    color: #16382d;
    font-weight: 600;
    font-size: 16px;
}

.text-content{
    justify-items: left;
    max-width: 100%;
}

.productsTOP {
    text-align: center;
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    gap: 50px;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px), linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px);
    background-size: 40px 40px;
    background-color: #0e0e0e;
    padding-inline: 50px;
    align-items: center;
}

.containerFigures {
    width: 100%;
    height: 100%;
}

span {
    color: var(--primary-color);
}

.methodsPaid {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.methodsPaidContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 80px;
    height: fit-content;
    margin-bottom: 1200px;

}

.methodsPaidContent {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
    background-color: #b6b6b6;
    padding: 15px;
    border-radius: 12px;
}

.methodsPaidContent img {
    width: 300px;
    height: 100px;
    object-fit: contain;
}

.sectionAbout{
    display: flex;
    gap: 150px;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.containerHome {

    width: 100%;

}


.parent {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 17px;
}

.parent span{
    background: linear-gradient(to bottom right, #1c704a,#28b0bf);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
}
    

.div2 {
    grid-column: span 4 / span 5;
    background-color: #131416;
    text-align: center;
    justify-content: center;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
    grid-row: span 2 / span 2;
}

.div2 span{
    
    font-weight: 700;
    backdrop-filter: box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.div3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-size: 40px 40px;
    background-color: #0e0e0e00;
    border-radius: 12px;
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
    grid-row-start: 3;
    
}

.div3 h3 {
    font-weight: 600;
    margin-top: 20px;
    width: 80%;
}

.div3 h2{
    font-size: 7rem;
    color: #211f27;
}

.div4 {    
    background-color: #f1f1f149;
    border-radius: 12px;
    grid-row: span 2/span 2;
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div5 {
    background-color: #ffffff47;
    border-radius: 12px;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}

.div6 {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 7;
    grid-row: span 2 / span 2;
    background-color: #ffffff49;
    border-radius: 12px;
}

.div7 {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row: span 2 / span 2;
    background: linear-gradient(to top right, #1c704a,#28b0bf);
    border-radius: 12px;
    grid-row-start: 9;
}
        
.benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 50px 0;
    gap: 45px;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.logo-container-home {
    background: linear-gradient(to bottom right, #1c704a,#28b0bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleOffert{
    width: 50%;
    height: 45%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background: linear-gradient(to top right, #1c704a,#28b0bf);
    justify-content: center;
    box-shadow: 0 0 10px linear-gradient(to top right, #1c704a,#28b0bf);
}