.botonCompra {
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    border: 0px;
    font-weight: 600;
    transition: all ease 0.25s;
    width: 90%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

    .botonCompra svg {
        width: 20px;
        height: 20px;

    }
    .botonCompra:hover {

        color: #212121;
    }




    .buttonFavorite{
        background-color:transparent;
        color: white;
        border-radius: 5px;
        width: 33px !important;
        height: 33px !important;
    }

        .buttonFavorite:hover {
            color: #ffe20e !important;
            outline: 0 solid;
            background: #212121 !important;
        }

    .buttonFavorite svg{
        width: 30px;
        height: 30px;
    }

.containerCard {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.42);
    border-radius: 15px;
    transition: all ease 0.25s;
    }

.containerCard:hover{
    transform: scale(1.025);
}


    img:hover~ .buttonFavorite {
        color: #fff;
        outline: 0 solid;
        background-color: #212121 !important;
    }