.targetProductsDev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#2e2d31ff;
    padding: 40px;
    border-radius: 12px;
    color: white;
    font-family: Roboto;
    width: 800px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.6);
}



form {
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
    gap:30px;
    width: 100%;
}

.sectionInput{
    display: flex;
    justify-content:space-between;
}

#sectionArea{
    border-radius: 12px;
}


.containerCRUDProduct{
    display: flex;
    gap: 100px;
    align-items: center; 
    justify-content: space-between;
}