header li,a{
    color: white;
    list-style:none;
    transition: 0.3s all ease;
    background-color:transparent;
    padding: 8px;
    cursor: pointer;
    align-items: center;
}




.menu{
    width: fit-content;
}
.logo{
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #1c704a,#28b0bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotateBackground 4s linear infinite;
}

@keyframes rotateBackground {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.logo-container{
    background: linear-gradient(to bottom right, #00723f, #00525b);
    border-radius: 8px;
    padding: 5px;
    display: flex;
    margin-right: 10px;
    margin-left: 30px;
    align-items: center;
    justify-content:center;
    width: fit-content;
    height: fit-content;
}

@media only screen and (max-width: 650px) {
    .logo-container {
        margin-left: 5%;
        margin-right: auto;
    }

    a {
        display: none;
        width: 0;
    }
}

.flex-gap-style {
    padding: 0;
    display: flex;
    gap: 30px;
    margin-right: 20px;
    color: white;
    width: fit-content;
    justify-content: flex-start;
    margin-right: 30px;
    align-content: center;
 }


@media only screen and (max-width: 570px){
    header {
        display: flex;
        gap: 0;
    }
    .logoSVG {
        max-width: 15%;
        height: 50px;
    }

    .flex-gap-style{
        display: flex;
        gap:10px;
        margin-right: 20px;
    }


}


.buttonLogear {
    width: 90px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width:440px){
    .flex-gap-style {
        font-size: 14px;
    }
    .buttonLogear {
        padding: 0 10px;
        width: fit-content;
    }
     
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overscroll-behavior: none;
}

button a {
    color: #3b3c54;
}

button:hover a{
    color: white;
}

.optionsHeader {
    margin: 0;
    align-content: center;
    text-align: center;
    border-radius: 8px;
}


    li:hover {
        background-color: #262d2c;
    }


#sectionLogin{
    width: fit-content;
    margin-right: 30px;

}

