

body{
    padding:0;
    margin:0;
}

.listaSideBar {
    transition: all ease 0.3s;
    font-family: Roboto;
    border-radius: 0;
    padding-left: 40px;
    max-width: auto;
}



.sidebar {
    transform: translateZ(0); /* Fuerza hardware acceleration */
    backface-visibility: hidden;
    margin: 0;
    padding: 40px 0 0 0;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 40px;
    color: white;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: -1;
}




    /* Cuando está visible */
    .sidebar.mostrar {
        transform: translateX();
    }

    /* Cuando está oculta */
    .sidebar.ocultar {
        transform: translateX(-100%);
    }

    .listaSideBar:hover {
        color: #2d2e45;
        background-color: #bff9e4;
    }


