#background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh; 
}

#bc {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    backdrop-filter: blur(150px);
}

.titleLogin{
    height: 40px;
}

#containerLogin {
    display: flex;
    width: 400px;
    text-align: center;
    justify-content: center;
    background-color: rgba(23, 23, 23, 0.55);
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    padding: 30px;
}

@media only screen and (max-width: 480px) {
    .containerLogin{
        max-height: 100%;
    }
    #containerLogin{
        width: 60%;
    }
}

.containerLogin{
    width: 100%;
    height: 100%;
}



form{
    align-items: center;
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
}

section {
    padding: 0px;
}

form h3{
    font-size: 30px;
    margin-bottom: -40px;
}

form h1{
    font-size: 14px;
    height: 1lh;
}

.help-links{
    margin: 0;
    padding: 0;
}

input {
    background-color: rgba(0,0,0,0.3);
    border: none;
    color: white;
    padding: 7px;
    width: 90%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

a{
    height: 1lh;
}

/* Soporte para mostrar el bot�n de revelar contrase�a en Edge y Chrome */
input[type="password"]::-ms-reveal {
    filter: invert(1);
}
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-input-placeholder {
    color: #ccc;
}

.buttonLogin{
    background-color: #46a089;
}

input:not(:placeholder-shown) {
    outline: 2px #195540 solid;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    accent-color: #195540;
    border-radius: 12px;
    border: 2px solid #195540;
    margin-right: 8px;
    vertical-align: middle;
    transition: box-shadow 0.2s;
    box-shadow: 0 0 4px rgba(25,85,64,0.2);
}

.spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 50%;
    border: 4px solid #00847c;
    border-top-color: white;
    will-change: transform;
}

input[type="checkbox"]:focus {
    outline: 2px #00847c solid ;
    border-radius: 5px;
}

input[type="checkbox"]:checked {
    background-color: #195540;
    border-color: #00847c;
    border-radius: 5px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
}

    .form-group label {
        font-size: 16px;
        color: #ffffff86;
    }


.form-checked{
    width: 100%;
    display: flex;
    align-items: center;
}

    .form-checked label{
        font-size: 14px;
        color: #ffffff86;
        margin: 0 auto 0 0;
    }

    .form-checked a{
        font-size: 14px;
        color: #00847c;
        text-align: center;
        transition: all ease 0.25s;
    }

    .form-checked a:hover {
        color: #00847c;
        text-shadow: 0 0 2px #00847c;
    }

.container-group{
    width: 100%;
    text-align: left;
    
}

.inputGroup{
    display: flex;
    width: 100%;

}

.inputSVG {
    color: #ffffff93;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px; 
}

.inputSVG svg{
    height: 25px;
}

.section-button-session{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    font-size: 14px;
    margin-top: -30px;
}

.section-button-session button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all ease 0.25s;
}

    .section-button-session button:hover {
        box-shadow: 0 0 15px 1px rgba(250,250,250,0.3);
        color: #00847c;
    }

.section-button-session button svg{
    width: 20px;
    height: 20px;
}

.button-google{
    background-color: white;
    transition: all ease 0.25s;
}

.button-google:hover{
    box-shadow: 0 0 15px 1px rgba(250,250,250,0.3);
}

.a-crear-cuenta a{
    color: #00847c;
}

.container-spinner {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}